.book-container {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    padding: 10px;
    width: 300px;
  }
  
  .author {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }  

  #author{
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h2, p {
    color: #333;
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
  }
  
  span {
    color: #0066CC;
    font-weight: normal;
  }
  

  